# Ignore node_modules and .env in the root, api, and client directories
node_modules/
.env

# Ignore node_modules and .env inside api and client directories
api/node_modules/
api/.env

client/node_modules/
client/.env